.pomo-tour-corner {
  --tour-radius: min(1.25rem, calc(var(--target-width) / 2), calc(var(--target-height) / 2));
  width: var(--tour-radius);
  height: var(--tour-radius);
  left: var(--target-left);
  top: var(--target-top);
  --corner-x: 100%;
  --corner-y: 100%;
  mask-image: radial-gradient(
    circle at var(--corner-x) var(--corner-y),
    transparent var(--tour-radius),
    black var(--tour-radius)
  );
}

.pomo-tour-corner[data-corner$='right'] {
  left: calc(var(--target-right) - var(--tour-radius));
  --corner-x: 0%;
}

.pomo-tour-corner[data-corner^='bottom'] {
  top: calc(var(--target-bottom) - var(--tour-radius));
  --corner-y: 0%;
}
