auto-install-peers=true
strict-peer-dependencies=false
# fix vitest reacting signal does not work error
public-hoist-pattern[]=solid-js
public-hoist-pattern[]=*storybook*
public-hoist-pattern[]=react
public-hoist-pattern[]=react-dom
public-hoist-pattern[]=*vitest*
public-hoist-pattern[]=vite-node