@supports (content-visibility: auto) {
{
    content-visibility: auto;
}
}
@supports (contain-intrinsic-size: 1px 5000px) {
{
    contain-intrinsic-size: 1px 5000px;
}
}
* {
    -ms-user-select: none; /* Internet Explorer/Edge */
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */
    -moz-user-select: none; /* Firefox */
    user-select: none;
}
* {
    box-sizing: border-box;
}
@supports (-webkit-touch-callout: none) {
    * {
        -webkit-touch-callout: none
    }
}
@supports (-webkit-tap-highlight-color: transparent) {
    * {
        -webkit-tap-highlight-color: transparent
    }
}
{
    touch-action: none;
}
body {
    font-family: Pretendard -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Emoji', sans-serif
}
body {
    margin: 0;
    padding: 0;
}
#app {
    height: 100%;
}