# VITE_... 는 코드치환이 일어나는 환경 변수 입니다
# secret = 코드 치환이 일어나면 안됩니다
# required = 반드시 제공되어야 됩니다
# optional = 제공 되지 않을 경우 능동적으로 기능 제한이 되거나 기본값이 사용 됩니다

##################
## runtime env

# app base url
VITE_APP_URL=required
##################


##################
## DB

# data base
POSTGRES_URL=required,secret

# supabase url
VITE_SUPABASE_URL=required

# supabase publishable key
VITE_SUPABASE_PUBLISHABLE_KEY=required

# supabase project ID (supabase gen)
SUPABASE_PROJECT_ID=optional


##################


##################
## auth client info

# github
GITHUB_CLIENT_ID=optional,secret
GITHUB_CLIENT_SECRET=optional,secret

##################


##################
## supabase auth

## 실제로 사용 되지 않음

# 지금 작동하는 키
SUPABASE_AUTH_JWT_KEY=required,secret
# 문제 발생시 반경되는 다음키
SUPABASE_AUTH_STANDBY_JWT_KEY=required,secret

##################


##################
## build env

# 빌드시 브라우저 사용자 퍼센트 등의 정보의 기준 날짜
COMPATIBILITY_DATE=optional
