body {
  position: relative;
  overflow: hidden;
  margin: 0;
  height:100;
  height: 100dvh;
  height: --webkit-fill-available;
  font-family: "Pretendard Variable", sans-serif;
}
button, a {
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

button:focus-visible, a:focus-visible {
  outline: 2px auto black;
}
