{
    content-visibility: auto;
    contain-intrinsic-size: 1px 5000px;
}

* {
    -ms-user-select: none; /* Internet Explorer/Edge */
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */
    -moz-user-select: none; /* Firefox */
    user-select: none;
}

{
    touch-action: none
}
