.DS_Store
node_modules
/dist
/lib

.env

# local env files
.env.local
.env.*.local

# generated type-graphql
src/generated

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

capacitor.config.json
